@charset "UTF-8";
/*------------------------------------------------------------------
    GENERAL
-------------------------------------------------------------------*/
body a:hover,a:focus{
    text-decoration: none;
}

.table{
	table-layout: fixed;
}

.table th, .table td {
    padding: 0.2rem;
}

.table td {
	font-size: 16px;
}

.h3-style{
	box-sizing: border-box;
	padding : 10px 0 0 0;
	color: rgb(51,51,51);
    text-shadow: #bb9d52 0.1em 0.1em 0.2em;
}

#a-color{
	color: #bb9d52;
	font-size: 14px;
}

#a-color:hover{ 
	color: rgba(8, 8, 8, 0.9);
	text-shadow: 2px 2px 2px #999999;
}

/*------------------------------------------------------------------
    BUTTON
-------------------------------------------------------------------*/
.btn {
    border: 0 !important;
    width: 50px;
    height: 28px;
    position: relative;
}

.input-pos{	
    position: absolute;
    top: 0%;
    right: 0;
    left: 8%;
    bottom: 0;
    font-size: 14px;
    text-decoration: none; 
    background-color: transparent; 
    border:0px; 
    color:#fff;
}

body.barber_version .grd1 {
	color: #ffffff;
    background: rgb(16,16,16);
}


body.barber_version .grd1:hover,
body.barber_version .grd1:focus {
	color: #ffffff;
    background: #bb9d52;
}

.effect-1:after, .btn-brd {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

body.barber_version .effect-1:after {
    box-shadow: 0 0 0 2px #bb9d52;
}

.btn-light {
    background-color: #000;
    border: 2px solid transparent !important;
} 

.btn-light:hover,
.btn-light:focus {
    color: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.9) !important;
    background-color: #bb9d52;
}

.effect-1 {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
}

.effect-1 {
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}

.effect-1:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    box-shadow: 0 0 0 2px #bb9d52;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
}

.effect-1:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.effect-1:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.effect-1:after {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.effect-1:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/***************************************************/
/*********** Login successful CSS **********/
/***************************************************/
.loginSucs {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.loginSucs .loginSucs-item {
    margin-bottom: 30px;
}

.loginSucs .loginSucs-img {
    position: relative;
}

.loginSucs .loginSucs-img::after {
    position: absolute;
    content: "";
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    background: transparent;
    border: 1px solid #F6F6F7;
    transition: .3s;
    z-index: 1;
}

.loginSucs .loginSucs-img img {
    width: 100%;
}

.loginSucs .loginSucs-text {
    position: relative;
    margin: -60px 15px 0 15px;
    padding: 30px 15px;
    text-align: center;
    background: #F6F6F7;
    transition: .3s;
    z-index: 2;
}

.loginSucs .loginSucs-text h2 {
    font-size: 18px;
    font-weight: 600;
}

.loginSucs .loginSucs-text p {
    margin: 0;
    color: #333333;
}

.loginSucs .loginSucs-item .loginSucs-text {
    background: #D5B981;
}

.loginSucs .loginSucs-item.loginSucs-img::after {
    border-color: #D5B981;
}