.success-span {
	color: #bb9d52;
	position: absolute;
	top: 8%;
	left: 17%;
}

.th-adjust {
	width: 120px;
}

.form-sty {
	margin: 20px 0 0 10px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: #aa9166;
}